div.hashLabel {
    display: inline;
}

div.foundLabelBlock {
    display: inline;
}

.dataField {
    clear: left;
}

label {
    float: left;
}

label.labelTitle {
    margin-right: 2.0em;
}

label.labelValue {
    float: right;
    text-align: 'left'
}